<fieldset class="actions">
  <legend>Actions</legend>
  <ul>
    <% @current_user.actions.each do |action| %>
      <li><%= link_to action.capitalize, "##{ action }-popup" %></li>
      <div id="<%= action %>-popup" class="popup">
        <div class="popup-content">
          <a href="#" class="close">X</a>
          <%= render partial: "#{action}_popup" %>
        </div>
      </div>
    <% end %>
  </ul>
</fieldset>
