<fieldset class="actions section">
  <legend>Actions</legend>
  <ul>
<!--    <li><%#= link_to 'Drink a Monster Energy', monster_energy_path, data: {turbo: true, turbo_frame: "_top"} %></li>-->
    <li><%= link_to 'Drink a Monster Energy', monster_energy_path, data: turbo_hash %></li>
    <% @current_user.actions.each do |action| %>
      <li><%= link_to action.capitalize, "##{ action }-popup" %></li>
      <%= render partial: 'action_popup', locals: { action: action } %>
    <% end %>
  </ul>
</fieldset>
