<div id="<%= action %>-popup" class="popup">
  <div class="popup-content <%= action %>-popup">
    <a href="#" class="close">X</a>
    <h4 class="title"><%= action.capitalize %></h4>
    <%= render partial: "#{action}_popup" %>
  </div>
</div>
