<fieldset class="actions">
  <legend>Actions</legend>
  <ul>
    <% @current_user.actions.each do |action| %>
      <li><%= link_to action.capitalize, "##{ action }-popup" %></li>
      <%= render partial: 'action_popup', locals: { action: action } %>
    <% end %>
  </ul>
</fieldset>
