<input type="radio" id="radio-buildings" name="radios" value="buildings"
       <% if @active_control == 'buildings' %>
       checked="checked"
       <% end %>
         />
<div class="section buildings">
  <label for="radio-buildings" class="radio">B</label>
  <div class="section-content">
    <h4 class="section-title">Buildings</h4>
    <ul>
      <% @local_buildings.items.each do |building| %>
        <li data-turbo="false">
          <%= level_color_span(building.level, link_to(building.name, "#building-#{ building.id }")) %>
        </li>
        <%= render partial: 'building_popup', locals: { building: } %>
      <% end %>
    </ul>
  </div>
</div>
