<div id="dungeon-<%= dungeon.id %>-popup" class="popup">
  <div class="popup-content dungeon-popup">
    <%= link_to 'X', game_path(active_control: 'actions'), class: 'close-button', data: { turbo_target: '_top' } %>
    <%= turbo_frame_tag 'dungeon-details', src: dungeon do %>
      <%= render partial: 'dungeons/details', locals: { dungeon: } %>
    <% end %>
  </div>
</div>
