<input type="radio" id="radio-equipment" name="radios" value="equipment"/>
<div class="section equipment">
  <label for="radio-equipment" class="radio">E</label>
  <div class="section-content">
    <h4 class="section-title">Equipment</h4>
    <table>
      <tr>
        <td>Tool:</td>
        <td>
          <% if current_user.tool %>
            <%= level_color_span(current_user.tool.level, current_user.tool.name) %>
          <% end %>
        </td>
        <td>
          <% if current_user.tool %>
            <%= link_to 'X', unequip_tool_path, id: 'unequip_tool' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Vehicle:</td>
        <td>
          <% if current_user.vehicle %>
            <%= level_color_span(current_user.vehicle.level, current_user.vehicle.name) %>
          <% end %>
        </td>
        <td>
          <% if current_user.vehicle %>
            <%= link_to 'X', unequip_vehicle_path, id: 'unequip_vehicle' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Instrument:</td>
        <td></td>
      </tr>
      <tr>
        <td>Clothes:</td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
