<div class="game-menu">
  <a href="#game-menu-popup" class="button">
    <span>...</span>
    <span>...</span>
    <span>...</span>
  </a>
  <div id="game-menu-popup" class="popup">
    <div class="popup-content game-menu-popup">
      <a href="#" class="close-button">X</a>
      <h4 class="title">Game Menu</h4>
      <span class="version">Version 0.0.1.buildnumber</span>
      <ul class="links">
        <% if current_user -%>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Change Log</a></li>
          <li><%= link_to 'Vision Board', vision_board_path %></li>
          <li><%= link_to 'Log Out', logout_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
