<ul>
  <% @current_user.valid_gather_resources.each do |resource| %>
    <li data-turbo="false">
      <%= level_color(resource.level, link_to(resource.full_name, gather_path(resource))) %>
    </li>
  <% end %>
</ul>