<fieldset class="inventory section">
  <legend>Inventory</legend>
  <ul>
    <% @current_user.inventory.items.each do |item| %>
      <li>
        <%= render partial: 'level_color', locals: { level: item.level, text: item.level_name } %>
        <%= link_to item.name, "#item-#{ item.id }-details" %>
      </li>
      <%= render partial: 'item_popup', locals: { item: } %>
    <% end %>
  </ul>
</fieldset>
