<fieldset class="inventory controls-section">
  <legend>Inventory</legend>
  <span class="remaining-space"><%= @current_user.inventory.remaining_space %></span>
  <ul>
    <% @current_user.inventory.items.each do |item| %>
      <li>
        <span class="stack-amount"><%= item.stack_amount if item.stack_amount > 1 %></span>
        <%= level_color(item.level, link_to(item.full_name, "#item-#{ item.id }-details") ) %>
      </li>
      <%= render partial: 'item_popup', locals: { item: } %>
    <% end %>
  </ul>
</fieldset>
