<input type="radio" id="radio-lifeforms" name="radios" value="lifeforms"/>
<div class="section lifeforms">
  <label for="radio-lifeforms">L</label>
  <div class="section-content">
    <% if @local_players.any? %>
      <span>Local Players:</span>
      <ul>
        <% @local_players.each do |player| %>
          <li><%= link_to player.name, "#player-#{ player.id }-details" %></li>
          <%= render partial: 'player_popup', locals: { player: } %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
