<div id="player-<%= player.id %>-details" class="popup">
  <div class="popup-content">
    <a href="#" class="close">X</a>
    <h4><%= player.name %></h4>
    <span class="status">Status: <%= player.status %></span>
  </div>
</div>
