<fieldset id="recipes">
  <legend><%= player.tool.name %> Recipes</legend>
  <table>
    <thead>
    <tr>
      <th>Item</th>
      <th>Recipe</th>
    </tr>
    </thead>
    <% player.tool.recipes.each do |recipe| %>
      <tr>
        <td>
          <%= recipe[:name] %>
        </td>
        <td>
          <% recipe[:recipe].each do |ingredient, amount| %>
          <span>
            <%= amount %>x
            <%= pretty_type(ingredient) %>
          </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</fieldset>
