<fieldset class="resources section">
  <legend>Resources</legend>
  <ul>
    <% @local_resources.each do |resource| %>
      <li>
        <%= level_color(resource.level, resource.name) %>
      </li>
    <% end %>
  </ul>
</fieldset>
