<fieldset class="resources">
  <legend>Resources</legend>
  <ul>
    <% @local_resources.each do |resource| %>
      <li><%= link_to resource.name, "##{ resource }-popup" %></li>
<!--      <div id="<%#= action %>-popup" class="popup">-->
<!--        <div class="popup-content">-->
<!--          <a href="#" class="close">X</a>-->
          <%#= render partial: "#{action}_popup" %>
<!--        </div>-->
<!--      </div>-->
    <% end %>
  </ul>
</fieldset>
