<input type="radio" id="radio-resources" name="radios" value="resources"
       <% if @active_control == 'resources' %>
       checked="checked"
       <% end %>
         />
<div class="section resources">
  <label for="radio-resources" class="radio">R</label>
  <div class="section-content">
    <h4 class="section-title">Resources</h4>
    <ul>
      <% @local_resources.each do |resource| %>
        <li>
          <%= level_color_span(resource.level, resource.full_name) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
