<% content_for :title, "New listing" %>

<%= turbo_frame_tag 'building-sales-listing' do %>
  <h1>New listing</h1>

  <%= render "form", listing: @listing %>

  <%= link_to 'Cancel', listings_path(@building)  %>
<% end %>
<br>

<div>
  <%= link_to "Back to listings", listings_path %>
</div>
