
<%= link_to 'Return to Game', root_path %>
<ul>
<li>v0.2 add starter items to new user welcome hall</li>
<li>v0.2 create settings section for each user. Things like email notifications and change PW</li>
<li>v0.2 document how crafting works for user, levels and such</li>
<li>v0.2 equipping a backpack or something increases the users inventory size</li>
<li>v0.2 list distance and energy usage to travel locations</li>
<li>v0.2 make items in welcome hall free and infinite</li>
<li>v0.2 make seeds find_or_create everything</li>
<li>v0.2 perhaps a help/tutorial section in the menu</li>
<li>v0.2 replace various user action methods with send</li>
<li>v0.2 sorts the inventory</li>
<li>v0.2 stop resetting db every release</li>
<li>v0.3 check privacy on actual requests, not just listing the link</li>
<li>v0.3 check privacy on actual requests, not just listing the link. prevent link spoofing</li>
<li>vafter_ui_update make game items clickable in the viewport</li>
<li>vafter_ui_update organize partial views</li>
<li>vafter_ui_update use streams to solve latency effects. Entire page needs to use turbo frames and streams</li>
</ul>
