
<div class="scrollable">
<%= link_to 'Return to Game', root_path %>
<ul>
<li>v0.2 add many more craftable items</li>
<li>v0.2 create settings section for each user. Things like email notifications and change PW</li>
<li>v0.2 equipping a backpack or something increases the users inventory size</li>
<li>v0.2 replace various user action methods with send</li>
<li>v0.2 sorts the inventory</li>
<li>v0.3 check privacy on actual requests, not just listing the link</li>
<li>v0.3 check privacy on actual requests, not just listing the link. prevent link spoofing</li>
<li>v0.3 select the color of the item</li>
<li>v0.4 add many more locations</li>
<li>v0.5 Add in skill progression and trades</li>
<li>v0.5 counter a trade in the hall</li>
<li>v0.6 async gameplay. Actions take real world time to accomplish</li>
<li>v0.7 character aging</li>
<li>v0.7 in game notifications/mail from players</li>
<li>v0.7 push notifications to players</li>
<li>v0.7 recharge energy faster in certain locations (restful ones)</li>
<li>v0.7 recharge energy over time</li>
<li>v0.7 sets status to resting on arrival</li>
<li>v0.7 takes time to travel. high level vehicles are faster</li>
<li>v0.7 trade countered</li>
<li>v0.7 trade expired</li>
<li>v0.7 trade was accepted</li>
<li>v0.7 updates status to traveling</li>
<li>v0.8 dangers in the world. Pirates while traveling</li>
<li>v0.8 new game + after your character dies</li>
<li>v0.9 balance crafting</li>
<li>v0.9 balance locations</li>
<li>v0.9 performance refactor</li>
<li>v1.0 ios/android app and desktop wrapper</li>
<li>v_ui_update desktop interface</li>
<li>v_ui_update make game items clickable in the viewport</li>
<li>v_ui_update organize partial views</li>
<li>v_ui_update pixel graphics</li>
</ul>
</div>
