
<div class="scrollable">
<%= link_to 'Return to Game', root_path %>
<ul>
<li>v0.4 add many more locations</li>
<li>v0.4 add many more recipes</li>
<li>v0.4 chat with other players</li>
<li>v0.4 dungeons (solo, groups, rewards, inventory checks)</li>
<li>v0.4 user quests</li>
<li>v0.4 world quests</li>
<li>v0.5 Add in skill progression and trades</li>
<li>v0.5 buy listings. "I will pay x credits for crafted item y"</li>
<li>v0.5 counter offers in a trade in the hall</li>
<li>v0.5 crafting/gathering tool levels</li>
<li>v0.6 async gameplay. Actions take real world time to accomplish</li>
<li>v0.7 character aging</li>
<li>v0.7 in game notifications/mail from players</li>
<li>v0.7 push notifications to players</li>
<li>v0.7 recharge energy faster in certain locations (restful ones)</li>
<li>v0.7 recharge energy over time</li>
<li>v0.7 sets status to resting on arrival</li>
<li>v0.7 takes time to travel. high level vehicles are faster</li>
<li>v0.7 trade countered</li>
<li>v0.7 trade expired</li>
<li>v0.7 trade was accepted</li>
<li>v0.7 updates status to traveling</li>
<li>v0.8 dangers in the world. Pirates while traveling</li>
<li>v0.8 new game + after your character dies</li>
<li>v0.8 typed pets, can only hold certain items, but much larger</li>
<li>v0.9 balance crafting</li>
<li>v0.9 balance locations</li>
<li>v0.9 performance refactor</li>
<li>v1.0 ios/android app and desktop wrapper</li>
<li>v_ui_update desktop interface</li>
<li>v_ui_update make game items clickable in the viewport</li>
<li>v_ui_update pixel graphics</li>
</ul>
</div>
