<h1>Loom 40K</h1>
<h2>aka "Crafty"</h2>
<%= link_to 'Log In', login_path %>
<p>Welcome!</p>
<p>Loom 40K is just the working title for our game.  It is a MMO roguelike point and click adventure game.</p>
<p>
  That's a lot of buzzwords!  In other terms, it is a muiltiplayer adventure game. Like the old LucasArts games.
  But there are also other players wandering around.
</p>
<p>
  There are a few activities to do in game: gathering, crafting, exploring, trading, and you'll find more, too.
  There are even player-created quests, as well as world quests that lead the plot of the game forward.
</p>
<p>
  No one can live forever, though.  Whether pirates get you, or simple old age, eventually your character will die.
  Very sad, but c'est la vie!  Its ok, you can will your items to your offspring/adopted kid/clone.
  You get to continue the adventure, maybe with bonuses depending on how well you did in the last life.
</p>
<p>
  If you have any questions, send an email to <a href='mailto:kentslaymaker@gmail.com'>KentSlaymaker@gmail.com</a>
</p>
