<%= link_to('Add Item', select_item_buildings_path(building)) %>
<ul>
  <% building.child_inventory.items.each do |item| %>
    <li>
      <%= level_color_span(item.level, item.full_name) %>
    </li>
  <% end %>
</ul>
