<%= turbo_frame_tag 'building-inventory' do %>
  <%= link_to 'Cancel', inventory_building_path(@building) %>
  <ul>
    <% player.carried_items.each do |item| %>
      <li>
        <%= item.stack_amount %>x
        <%= level_color_span(item.level, link_to(item.full_name, add_item_building_path(@building, item))) %>
      </li>
    <% end %>
  </ul>
<% end %>