<%= turbo_frame_tag 'building-inventory' do %>
  <%= link_to 'Cancel', building_inventory_path(@building) %>
  <ul>
    <% @current_user.inventory.items.each do |item| %>
      <li>
        <%= level_color(item.level, link_to(item.full_name, add_item_buildings_path(@building, item))) %>
      </li>
    <% end %>
  </ul>
<% end %>