@import 'variables';

$ground-height: 40%;
$sky-height: 100% - $ground-height;
$building-height: 30%;

div.location {
  height: $location-height;

  border: 1px solid $white;
  box-shadow: inset 0 0 20px $white;
  border-radius: 0.5em;
  padding: 1em;

  span.title {
    display: block;
    font-weight: bold;
    text-transform: uppercase;

    span {
      display: inline;
    }
  }

  p.description {
    display: none;
  }

  div.viewport {
    position: relative;
    height: 90%;
    overflow: hidden;

    img.background {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
    }
  }
}