@import 'variables';

$ground-height: 40%;
$sky-height: 100% - $ground-height;
$building-height: 30%;

div.location {
  height: $location-height;

  border: 1px solid $white;
  box-shadow: inset 0 0 20px $white;
  border-radius: 0.5em;
  padding: 1em;

  span.title {
    display: block;
    font-weight: bold;
    text-transform: uppercase;

    span {
      display: inline;
    }
  }

  p.description {
    display: none;
  }

  div.viewport {
    position: relative;
    height: 90%;

    div.sky {
      height: $sky-height;
    }

    div.ground {
      height: $ground-height;
    }

    div.buildings-and-resources {
      position: absolute;
      left: 0;
      bottom: $ground-height - 10%;
      width: 100%;
      height: $building-height;

      div.building, div.resource {
        position: relative;
        display: inline-block;
      }

      div.building {
        margin-left: 1em;
        height: 100%;
        width: 4em;
        border-top: 3px solid $tan;

        span.sign {
          display: inline-block;
          font-size: xx-small;
          margin-left: 0.5em;
          text-wrap: nowrap;
          overflow: hidden;
          width: 90%;
          background-color: $tan;
          color: $grey-dark;
        }

        div.door {
          position: absolute;
          background-color: $tan;
          bottom: 0;
          left: 1em;
          width: 0.75em;
        }

        div.window {
          position: absolute;
          background-color: $white;
          top: 2em;
          right: 0.7em;
          width: 0.6em;
          height: 0.6em;
        }
      }

      div.resources {
        position: absolute;
        bottom: 1.5em;
        height: 50%;

        div.resource {
          margin-right: -2em;
          height: 100%;
          border: 1px solid black;
          rotate: 90deg;

          span.name {
            text-shadow: 0 0 3px $black;
          }
        }
      }
    }
  }
}